@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Kanit', sans-serif;
}

:root{
    --primary-100:#0077C2;
    --primary-200:#59a5f5;
    --primary-300:#c8ffff;
    --accent-100:#00BFFF;
    --accent-200:#00619a;
    --text-100:#333333;
    --text-200:#5c5c5c;
    --bg-100:#FFFFFF;
    --bg-200:#f5f5f5;
    --bg-300:#cccccc;
}

body{
    background-color: var(--bg-200);
}

.display{
    width: 880px;
    margin: 0 auto;
    height: auto;
}

.picture-container{
    width: 100%;
    margin: 0 auto;
}

.example-picture:hover img:not(:hover){
    opacity: .75;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.picture-background{
    background-color: var(--text-100);
    opacity: 50%;
}

.content{
    width: 800px;
}

.approve{
    width: 150px;
    background-color: #198754;
    color: white;
}

.approve:hover{
    background-color: #051b11;
}

.reject{
    width: 150px;
    background-color: #DC3545;
    color: white;
}

.reject:hover{
    background-color: #2c0b0e;
}

@media screen and (max-width: 640px) {
    .display{
        width: 100%;
    }

    .content{
        width: 100%;
    }
}