@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-100: #2C5D9E;
    --primary-200: #628acf;
    --primary-300: #c9ecff;
    --accent-100: #4AA0D5;
    --accent-200: #004774;
    --text-100: #FFFFFF;
    --text-200: #e0e0e0;
    --bg-100: #0B1E3F;
    --bg-200: #1e2d50;
    --bg-300: #38456a;
}

*{
    font-family: 'Kanit', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.nav-chat{
    height: 130px;

    .logo{
        width: 150px;
        height: 150px;
    }
}

.link-btn{
    background-color: var(--text-100);
    padding: 3px 30px;
}

.chat-grid{
    height: 770px;
}

.chat-list::-webkit-scrollbar{
    display: none;
}

.chat-body{
    height: 630px;
    overflow-y: scroll;
}

.chat-body::-webkit-scrollbar{
    display: none;
}

.member-card{
    width: 100%;
    height: 650px;
    margin-bottom: 10px;
}

.member-card::-webkit-scrollbar{
    display: none;
}

.profile-group{
    background-size: cover;
    background-position: center;
}

.display{
    background-color: #000000;
    padding: 20px;
}

.black-drop{
    background-color: #161616;
}
