@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --primary-100: #2C5D9E;
    --primary-200: #628acf;
    --primary-300: #c9ecff;
    --accent-100: #4AA0D5;
    --accent-200: #004774;
    --text-100: #FFFFFF;
    --text-200: #e0e0e0;
    --bg-100: #0B1E3F;
    --bg-200: #1e2d50;
    --bg-300: #38456a;
}

*{
    font-family: 'Kanit', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar{
    width: 350px;
}

.input-search{
    width: 100%;
}

.button-search{
    width: 25px;
    height: 25px;
    position: absolute;
    top: 3.5px;
    right: 3px;
    background-color: #0B1E3F;
    border-radius: 100%;
    cursor: pointer;
}

.text-main{
    color: #0B1E3F;
}

.imageCover{
    height: 350px;
}

.text-about{
    width: 1050px;
}

.daterange-picture{
    width: 350px;
}

.inputdate{
    width: 100px;
}

.btnSubmit{
    background-color: #0B1E3F !important;
    
}

.btnSubmit:hover{
    background-color: var(--bg-200) !important;
}


@media only screen and (max-width: 425px) {
    .navbar{
        width: 100% !important;
    }

    .imageCover{
        height: 150px;
    }

    .text-about{
        width: 100%;
    }

    /* .daterange-picture{
        width: 100%;
    } */

}

@media only screen and (max-width: 768px) {
    .navbar{
        width: 350px !important;
    }

    .text-about{
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .navbar{
        width: 350px !important;
    }

    .text-about{
        width: 100%;
    }

    /* .daterange-picture{
        width: 100%;
    } */

}
